APP_NAME=Meteo
APP_SLUG=meteo
APP_DEPOT=meteo
APP_NO=3
APP_HOST=meteo.mon-site.ca
API_CITY=saint-jean-de-matha,ca
API_UNITS=metric
API_LANGUE=fr
CURRENT_BASE_URL=http://api.openweathermap.org/data/2.5/weather
FORECAST_BASE_URL=http://api.openweathermap.org/data/2.5/forecast
